@import "reset";
@import "vars";
@import "fonts";
@import "global";

// Header SECTION
.header{
    padding-top: 40px;
    &__top{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 20px;
        border-bottom: 2px solid #ececec;
    }
    &__contacts{
        display: flex;
        gap: 40px;
    }
    &__contacts-top{
        background-color: $blue;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    &__contacts-item{
        display: flex;
        align-items: center;
    }
    &__contacts-title{
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
    }
    &__contacts-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }
    &__content{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu {
    display: flex;
    // .menu__item
    &__item {
        margin: 0 15px;
        color: $gray;
        transition: all .3s;
        &:first-child{
            margin-left: 0;
        }
        &:hover{
            color: $black;
        }
    }
    // .menu__item-link
    &__item-link {
        color: $gray;
        font-size: 20px;
        font-family: Nexa;
        font-weight: 700;
        line-height: 110%;
    }
}
.burger {
    display: none;
    cursor: pointer;
}

// Header SECTION

// ABOUT SECTION 
.about{
    background-image: url('@img/main-bg.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-color: #cbd4e6;
    &__content{
        padding: 180px 0;
        max-width: 575px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 40px;
    }
}
// ABOUT SECTION 

// SERVICE SECTION
.service{
    &__list{
        display: flex;
        justify-content: space-around;
    }
    &__list-item{
        padding: 70px 50px 60px;
        text-align: center;
        &--treatment{
            background-color: #43b1d2;
        }
        &--help{
            background-color: #3fb6c6;
        }
        &--staff{
            background-color: #3cbbbb;
        }
        &--doctors{
            background-color: #37c3a8;
        }
    }
    &__list-item__top{
        background-color: #fff;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__list-title{
        color: #fff;
        font-family: Montserrat;
        font-size: 30px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__list-text{
        color: #fff;
        font-family: OpenSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
}

// CHOOSE SECTION
.choose{
    padding-top: 100px;
    &__content{
        background-image: url('@img/choose-bg.png');
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }
    &__content-item{
        max-width: 320px;
        margin: 50px 0;
        &__header{
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 15px;
        }
        &__box{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            font-family: Montserrat;
            font-weight: 700;
            font-size: 30px;
            line-height: 32px;
        }
        &__text{
            font-size: 16px;
            line-height: 30px;
            font-family: OpenSans;
        }
    }
    &__title{
        font-size: 45px;
        font-family: Montserrat;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        font-family: OpenSans;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__rewards{
        background-image: url('@img/work-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        padding: 150px 0;
    }
    &__rewards-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__rewards-item{
        margin: 0 30px;
        text-align: center;
        color: #fff;
        font-family: Montserrat;
        font-weight: 500;
        span{
            display: block;
            font-size: 60px;
            line-height: 60px;
            padding: 20px 0;
            position: relative;
            margin-bottom: 15px;
            &::after{
                position: absolute;
                content: "";
                height: 7px;
                width: 80px;
                bottom: 0;
                left: 50%;
                transform: translateX(-40px);
                background-color: #fff;
            }
        }
    }
    &__rewards-text{
        font-size: 25px;
        line-height: 35px;
        max-width: 170px;
    }
    &__rewards-img{
        margin-bottom: 20px;
        height: 80px;
    }
}


.footer{
    background-color: $black;
}















@import "media";
