@import "reset";
@import "vars";
@import "fonts";
@import "global";
@import "fancybox";
// Header SECTION
.header{
    padding-top: 40px;
    &__top{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-bottom: 20px;
        border-bottom: 2px solid #ececec;
    }
    &__contacts{
        display: flex;
        gap: 40px;
    }
    &__contacts-top{
        background-color: $blue;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    &__contacts-item{
        display: flex;
        align-items: center;
    }
    &__contacts-title{
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
    }
    &__contacts-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
    }
    &__content{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu {
    display: flex;
    // .menu__item
    &__item {
        margin: 0 15px;
        color: $gray;
        transition: all .3s;
        &:first-child{
            margin-left: 0;
        }
        &:hover{
            color: $black;
        }
    }
    // .menu__item-link
    &__item-link {
        color: $gray;
        font-size: 20px;
        font-family: Nexa;
        font-weight: 700;
        line-height: 110%;
    }
}
.burger {
    display: none;
    cursor: pointer;
}

// Header SECTION

// ABOUT SECTION 
.about{
    background-image: url('@img/main-bg.jpg');
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-color: #cbd4e6;
    &__content{
        padding: 180px 0;
        max-width: 575px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 40px;
    }
}
// ABOUT SECTION 

// SERVICE SECTION
.service{
    &__list{
        display: flex;
        justify-content: space-around;
    }
    &__list-item{
        padding: 70px 50px 60px;
        text-align: center;
        &--treatment{
            background-color: #43b1d2;
        }
        &--help{
            background-color: #3fb6c6;
        }
        &--staff{
            background-color: #3cbbbb;
        }
        &--doctors{
            background-color: #37c3a8;
        }
    }
    &__list-item__top{
        background-color: #fff;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    &__list-title{
        color: #fff;
        font-family: Montserrat;
        font-size: 30px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__list-text{
        color: #fff;
        font-family: OpenSans;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
    }
}

// CHOOSE SECTION
.choose{
    padding-top: 100px;
    &__content{
        background-image: url('@img/choose-bg.png');
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
    }
    &__content-item{
        max-width: 320px;
        margin: 50px 0;
        &__header{
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 15px;
        }
        &__box{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            font-family: Montserrat;
            font-weight: 700;
            font-size: 30px;
            line-height: 32px;
        }
        &__text{
            font-size: 16px;
            line-height: 30px;
            font-family: OpenSans;
        }
    }
    &__title{
        font-size: 45px;
        font-family: Montserrat;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        font-family: OpenSans;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__rewards{
        background-image: url('@img/work-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
        padding: 150px 0;
    }
    &__rewards-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__rewards-item{
        margin: 0 30px;
        text-align: center;
        color: #fff;
        font-family: Montserrat;
        font-weight: 500;
        span{
            display: block;
            font-size: 60px;
            line-height: 60px;
            padding: 20px 0;
            position: relative;
            margin-bottom: 15px;
            &::after{
                position: absolute;
                content: "";
                height: 7px;
                width: 80px;
                bottom: 0;
                left: 50%;
                transform: translateX(-40px);
                background-color: #fff;
            }
        }
    }
    &__rewards-text{
        font-size: 25px;
        line-height: 35px;
        max-width: 170px;
    }
    &__rewards-img{
        margin-bottom: 20px;
        height: 80px;
    }
}

// BLOG SECTION
.blog{
    padding: 100px 0;
    &__content{
        display: flex;
        gap: 60px;
    }
    &__content-leftside{
        max-width: 100%;
    }
    &__content-rightside{
        max-width: 425px;
        width: 100%;
    }
    &__title{
        font-size: 45px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        margin-bottom: 20px;
    }
    &__text{
        font-size: 17px;
        line-height: 30px;
        font-weight: 400;
        font-family: OpenSans;
        text-align: left;
        word-wrap: break-word;
        margin-bottom: 20px;
    }
    &__news-list{
        display: flex;
        gap: 40px;
        padding-top:30px;
    }
    &__news-item{
        width: 334px;
        display: block;

    }
    &__news-img{
        width: 334px;
        height: 210px;
        overflow: hidden;
        margin-bottom: 30px;
    }
    &__news-title{
        font-family: Montserrat;
        font-weight: 500;
        font-size: 20px;
        line-height: 24ox;
    }
    &__news-date{
        color: $blue;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    }
    .btn__blog{
        display: block;
        margin: 50px auto 0;
    }
    &__creatives{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__creatives-item:hover .blog__creatives-link{
        background-color: $blue;
        color: #fff;
    }
    &__creatives-link{
        display: inline-block;
        font-size: 20px;
        line-height: 16px;
        background-color: $lightG;
        padding: 20px 70px;
        width: 100%;
        border-radius: 30px;
        position: relative;
        height: 55px;
        transition: all .3s;
        cursor: pointer;
        span{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            display: block;
            position: absolute;
            left: 8px;
            top: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &.active{
            background-color: $blue;
            background-color: #fff;
        }
    }
    &__creatives-text{
        padding: 20px 10px;
    }
}

// GALLERY SECTION
.gallery{
    padding: 90px 0;
    background-image: url('@img/gallery-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    &__title{
        font-family: Montserrat;
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 30px;
        color: #fff;
    }
    &__text{
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        font-family: OpenSans;
        margin-bottom: 40px;
    }
    &__content{
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }
    &__item{
        display: block;
        width: 345px;
        height: 210px;
    }
}

.team{
    padding-top: 130px;
    &__title{
        font-size: 45px;
        color: #494949;
        font-weight: 700;
        font-family: Montserrat;
        margin-bottom: 30px;
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        padding-bottom: 40px;
    }
    &__content{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-bottom: 130px;
    }
    &__content-item{
        text-align: center;
    }
    &__content-img{
        margin-bottom: 30px;
    }
    &__content-name{
        font-size: 25px;
        line-height: 30px;
        font-family: Montserrat;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__content-position{
        margin-bottom: 20px;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 500;
    }
    .social-list--gallery{
        justify-content: center;
    }
}

.special{
    padding: 60px 0;
    background-color: $lightG;
    &__content{
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;
    }
    &__content-title{
        font-family: Montserrat;
        font-weight: 700;
        color: $darkG;
        font-size: 30px;
        line-height: 35px;
    }
    &__btn{
        display: inline-block;
    }
}

.footer{
    background-color: #171717;
    &__inner{
        padding: 100px 0;
    }
    &__content{
        display: flex;  
        justify-content: space-between;
        align-items: flex-start;    
        gap: 30px;
    }
    &__content-item{
        color: #8d8d8d;
        line-height: 24px;
        font-size: 16px;
    }
    &__content-title{
        font-size: 22px;
        line-height: 24px;
        color: #fff;
        font-family: OpenSans;
        font-weight: 700;
        margin-bottom: 60px;
    }
    &__content-item--adress{
        max-width: 299px;
    }
    .social-link{
        svg{
            fill: #fff;
            transition: all .3s;
            circle{
                stroke: #fff;
                transition: all .3s;
            }
        }
        svg:hover{
            fill: $blue;
            circle{
                stroke: $blue; 
            }   
        }
    }
    &__contacts-item{
        margin-bottom: 50px;
        padding-left: 80px;
        position: relative;
        &::before{
            position: absolute;
            background-repeat: no-repeat;
            content: "";
            left: 0;
            top: 5px;
        }
    }
    &__contacts-item--adress{
        &::before{
            background-image: url('@img/footer-icons/mail.png');
            width: 40px;
            height: 31px;
        }
    }
    &__contacts-item--phone{
        &::before{
            background-image: url('@img/footer-icons/phone.png');
            width: 27px;
            height: 40px;
        }
    }
    &__contacts-item--map{
        &::before{
            background-image: url('@img/footer-icons/map.png');
            width: 38px;
            height: 40px;
        }
    }
    &__content-item--links{
        max-width: 220px;
    }
    &__content-item--services{
        max-width: 220px;
    }
    &__links-item{
        padding-left: 45px;
        position: relative;
        line-height: 35px;
        &::before{
            position: absolute;
            left: 15px;
            top: 11px;
            background-image: url('@img/play-icon.png');
            background-repeat: no-repeat;
            content: "";
            width: 12px;
            height: 12px;
        }
    }
    &__links-link{
        color: #8d8d8d;
        transition: all .3s;
    }
    &__links-link:hover{
        color: #fff;
    }
    &__content-item--form{
        max-width: 240px;
    }
    &__form-input{
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid rgb(97, 85, 85);
    }
    &__form-text{
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid rgb(97, 85, 85);
        width: 240px;
        height: 120px;
        resize: none;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__form-btn{
        padding: 12px 35px;
        text-transform: uppercase;
        width: 130px;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
        margin-top: 25px;
    }
    &__bottom{
        padding: 50px 0;
        background-color: #1a1a1a;
        color: rgb(97, 85, 85);
        font-size: 13px;
        line-height: 24px;
        font-family: OpenSans;
        text-align: center;
    }
}

    

  













@import "media";
